*, 
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.green {
    width: 50vw;
    height: 50vh;
    background: green;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.red {
    /* width: 25vh; */
    /* height: minmax(25vw, 25vw); */
    /* height: 25vh; */
    width: 35%;
    aspect-ratio: 1/1;
    background-color: red;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}